.footer{
    background-color: #d1becf;
    max-height: 100px;
    text-align: center;
}
/* Footer.css */
.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8; /* Add your preferred background color */
    padding: 10px; /* Add padding as needed */
    text-align: center; /* Center the content */
    
  }
  .social-heading {
    font-family: "Handlee", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 10px; /* Add margin as needed */
  }
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
  }