.navbar {
    background: #c9b6be;
  }
  .navbar-brand {
    color: black;
    font-family: "Handlee", cursive;
    font-weight: 800;
    font-style: normal;
  }
  .nav-link{
    color: #bb7e8c;
  }
  .navbar-toggler{
    color: #c9b6be;
  }
  .navbar-toggler{
    background: beige;
  }