

.card {
  width: 18rem;
  background-color: #878787;
  color: beige;
  margin:  5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: top;
}
.page-text {
  text-align: center;
  color: black;
  font-family: "Handlee", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
}
.page-section {
  background: #d1becf;
}